<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/All_definitions_.css">
    
    <link href="../CSS/Cadastro.css" rel="stylesheet">
    
    <title>Cadastro</title>
</head>
<body>
    
        <form id="form" action="">

            <section id="in-form" >

                <div class="out-input" id="title" >
                    <label>Cadastro</label>
                </div>

                <div class="out-input" >
                    <input class="inputs" id="nome" type="text" placeholder="Nome" required>
                </div>  

                <div class="out-input" >
                    <input class="inputs" id="login" inputmode="email" type="text" placeholder="Email" required>
                </div>

                <div class="out-input" >
                    <input class="inputs" id="senha" type="text" placeholder="Senha" required>
                </div> 

                <div class="out-input" >
                    <input class="inputs" id="cep" type="text" placeholder="CPF" required>
                </div>  

                <div class="out-input" >
                    <input class="inputs" id="telefone" type="text" placeholder="Telefone" required>
                </div>

                <div class="out-input" >
                    <button class="inputs" id="botao" >Registrar</button>
                </div>

            </section>

        </form>
        <script src="../JS/Cadastro.js"></script>
</body>
</html>