<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/CSS/header.css}" />
    <title>Seu Sistema</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/login}" href="/">Home</a></li>
                <li><a th:href="@{/pagina}" href="/pagina">Página</a></li>
                <!-- Adicione mais links conforme necessário -->
            </ul>
        </nav>
    </header>

</body>
</html>

