/*pop-up product register nigga fellow */

.container 		{ 
  display: none;
  position: fixed;
  top: 2%;
  left: 15%;
  width: 70%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 45px -8px rgba(91,84,84,0.75);
  -webkit-box-shadow: 0px 0px 45px -8px rgba(91,84,84,0.75);
  -moz-box-shadow: 0px 0px 45px -8px rgba(91,84,84,0.75);
  border: rgba(44, 0, 139, 0.9) solid 2px ;
}

#pupForm{
    display: flex;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    overflow: visible;
    flex-direction: row;
}

#cad-produ-sec{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputPop{
  width: 70%;
  height: 5%;
  margin-top: 40px;
  display: flex;
  gap: 3rem;
}

.inputs-in{
  width: 100%;
  height: 100%;
}


.inputs-in:focus{
  outline: none;
  border-bottom: rgba(44, 0, 139, 0.9) solid 1.5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.inputs-in:focus-within::-webkit-input-placeholder {
  color:  rgba(44, 0, 139, 0.92);
 }

#botao-reg{
  margin-top: 6% !important;
  border: rgba(44, 0, 139, 0.9) solid 2px;
  background-color: white;
  transition: all 0.25s ease;
  color:rgba(44, 0, 139, 0.9) ;
  font-weight:900;
  border-radius: 5px;
  display:block;
  align-items:center ;
}

#botao-reg:hover{
  cursor: pointer;
  background-color: rgba(44, 0, 139, 0.9);
  color: white;
  font-weight:900;
}
.fechar{
  position: relative;
  top: 10px;
  right: -900px;
  width: 40px;
  height:40px ;
  border-radius: 50%;
  border: 0;
  background-color:  rgba(44, 0, 139, 0.9);
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.container.abrir{
  display: flex;
}

#tipo_produto{
  border: 0;
}

#tipo_produto:hover{
  border: rgba(44, 0, 139, 0.9)  solid 2px;
}

/* Estilo para remover as setas do input number */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Safari e Chrome */
  margin: 0; /* Ajusta o espaçamento interno */
}

