@media(min-width:1px){

}



/*DeskTop*/
@media(min-width:1000px){
body{
    margin: 0 auto;
    box-sizing: border-box;
}

header{
    position: absolute;
    background-color: rgba(55, 2, 169, 0.9);
    width: 100%;    
    display: flex;
    justify-content: center;
}

nav{
    height: 100%;
    width:90%;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
}



#seacrh-bar{
    
    width: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}



.searchIcon{
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 80%;
  top: 39%;
}


#botao-out-out{
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 25px;
    
}

#botao-out{
    width: 100%;
    height: 100%;
    max-width: 140px;
    max-height: 25px;
    border-radius: 5px;
    border: none;
}



#botao-out:hover{
  background-color: rgba(96, 61, 171, 0.9);
  border: white solid 1px;
  color: #f9f9f9;
}

#botao-in{
    color: black;
}

.button-66 {
  background-color:rgba(30, 0, 95, 0.523);
  border-radius: 4px;
  border: 0;
  width: 100%;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  margin: 0;  
  position: relative;
  height: 100%;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-66:hover {
  background-color: white;
  color: rgba(44, 0, 139, 0.9);
  
  transform: translateY(-2px);
}




#bar{
    width: 100%;
    height: 100%;
    max-width: 390px;
    max-height: 25px;
   margin-left: 50px;
}

input{
  transition: .3s;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
}

input:focus{
    transition: .3s;
    outline: none;
    padding: 3px;
}


#bar input::placeholder{
  transition: .5s;
  position: relative;
  left: 2%;
  
}

#bar input:hover::placeholder {
  transition: .1s;
  color: rgba(55, 2, 169, 0.9);
  font-weight: 600;
}

input:focus::placeholder {
  color: rgba(55, 2, 169, 0.9);
  font-weight: 600;
}

#bar input:-ms-input-placeholder{
  position: relative;
  left: 5%;
}

#nav-bar{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

ul{
    display: flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}


a{
    text-decoration: none;
    color: white;
}

a:hover{
  background-color: rgba(96, 61, 171, 0.9);
  
  
}
/* Navbar container */
.navbar {
    overflow: hidden;
    width: 100%;
    font-family: Arial;
    display: flex;
    justify-content: space-around;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 5px 5px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:rgba(30, 0, 95, 0.523) ;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 2px;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

}
