body{
    margin: 0 auto;
    box-sizing: border-box;
}

header{
    position: absolute;
    background-color: rgba(44, 0, 139, 0.9);
    width: 100%;
    display: flex;
    justify-content: center;
    
}

nav{
    border: red solid 2px;
    height: 100%;
    width: 95%;
    max-height: 80px;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

