<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/All_definitions_.css">
    <link href="./css/Cadastro.css" rel="stylesheet">
    <script src="./assets/Cadastro.js"></script>
    
    <title>Cadastro</title>
</head>
<body>
    
        <form id="form" action="POST">

            <section id="in-form" >

                <div class="out-input" id="title" >
                    <label for="">Cadastro</label>
                </div>

                <div class="out-input" >
                    <input class="inputs" id="nome" type="text" placeholder="Nome">
                </div>  

                <div class="out-input" >
                    <input class="inputs" id="email" inputmode="email" type="email" placeholder="Email">
                </div>

                <div class="out-input" >
                    <input class="inputs" id="senha" type="password" placeholder="Senha">
                </div>  

                <div class="out-input" >
                    <input class="inputs" id="cpf" type="text" placeholder="CPF">
                </div>  

                <div class="out-input" >
                    <button id="botao" >Registrar</button>
                </div>

            </section>

        </form>
    
</body>
</html>